
/* NAVIGATION */
#nav {
  text-align: center;
  padding: 0;
  margin-top: 0px;
  letter-spacing: 2px;
  background-color: #ff005e;
}

#nav ul {
  padding: 0;
  margin: 0;
}

#nav li {
  display: inline-block;
  text-decoration: none;
  width: auto;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;

}

#nav a {
  text-decoration: none;
  font-style: italic;
  text-transform: capitalize;
  color: white;
  font-weight: lighter;
}

/* NAVIGATION EFFECTS */
nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;

}


.link-1 {
  transition: 0.3s ease;
  background: #ff005e;
  color: black;
  font-size: 20px;
  text-decoration: none;
  border-top: 2px solid #ff005e;
  border-bottom: 2px solid #ff005e;
  padding: 20px 0;
  margin: 0 20px;
}

.link-1:hover {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 6px 0;
}

@media screen and (max-width: 600px) {
  #navlinks > li {
    display: block;
}
